.flip-card{
    margin-left: 1.8rem;
    height: 45rem;
    width: 20rem;
    background-color: transparent;
    border: solid 0.5em black;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-inner.is-flipped{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front{
    background-image: url(./assets//KestrelCafe.jpg);
    background-size: cover;
    color:white;
}

.flip-card-front-header{
    font-family: 'IBM Plex Sans', sans-serif;
}

.flip-card-back{
    background-image: url(./assets/KestrelCafe.jpg);
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back-header{
    background-color: rgba(0, 0, 5, 0.253);
    font-family: 'IBM Plex Sans', sans-serif;
}

.linked-in{
    padding: 1.5rem;
    margin-top: 20rem;
    height: 17rem;
    width: 17rem;
}

.resume{
    padding: 1.5rem;
    margin-top: 20rem;
    height: 17rem;
    width: 17rem;
}

